/**
  Third Party / Dependency imports here
*/
$font-path: './fonts/';
$img-path: './img/';
$icon-font-path: './fonts/';

/**
  Patternfly Sass
*/
@import 'patternfly';

/**
  Patternfly React Specific Sass Extensions
*/
@import 'patternfly-react';

/**
  Application Overrides
*/
//override navbar-default from React Boostrap NavBar
.navbar-default .navbar-toggle {
  &:focus,
  &:hover {
    background-color: transparent;
  }
}

.breadcrumb {
  margin-bottom: 10px;
}

.navbar-pf-vertical {
  .nav .nav-item-iconic > .pficon-user {
    padding-right: 7px;
  }
}

a:hover,
a:focus {
  text-decoration: none;
}

.pficon.pficon-info.form-pficon-info {
  color: #1589cb;
  font-size: 15px;
  padding-left: 10px;
  vertical-align: middle;
}

.App-body {
  text-align: center;
}

.App-intro {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-paragraph {
  font-size: large;
  margin: 20px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NotFound {
  padding-top: 100px;
  text-align: center;
}

.table-grid-pf {
  margin-left: 20px;
  margin-right: 20px;
}

.container-pf-nav-pf-vertical.container-fluid
  .container-cards-pf.container
  .card-pf-body {
  overflow: hidden;
}

.edit-button {
  margin-left: 20px;
}

.app-definition {
  margin: 10px 0;
  display: table;
}

.app-definition-row {
  display: table-row;
}

.app-definition-key {
  display: table-cell;
  padding-right: 20px;
  font-weight: 200;
}
.app-definition-val {
  display: table-cell;
}

.optionsMenu li{
  background-color: white;
  display: block;
  text-align: center;
  padding: 8px 10px;
  border: gray .5px solid;
}

.optionsMenu ul{
  list-style-type: none;
  text-align: center;
}

.optionsMenu{
  background-color: white;
  text-align: center;
}

.optionsMenu li:hover {
  background-color: #e6e6e6;
}

.searchBar{
  padding: 0px 0px 5px 0px;
}

.search{
  border-radius: 5px;
  width: 100%;
}
.policyList{
  padding: 0px 20px;
}

.label {
   margin-left: 20px;
   padding: 0px 10px 0px 10px;

   border: 2px solid #42a5f5;
   border-radius: 50px;

   color: white;
   background-color: #42a5f5;

   font-size: 12px;
   font-weight: bold;

   float: right;
 }

 .service_badge {
  padding: 0px 10px 0px 10px;

  border: 2px solid #42a5f5;
  border-radius: 50px;

  color: white;
  background-color: #42a5f5;

  font-size: 12px;
  font-weight: bold;

  margin: 3px;
  float: left;
}

.service_badge a {
  color: white;
}

.badge {
  padding: 5px 10px 5px 10px;

  // border: 2px solid #42a5f5;
  border-radius: 50px;

  font-size: 12px;
  font-weight: bold;

  color: white;
  margin: 0;
  margin-bottom: 20px;
}

.onboarding-proposed {
  color: white;
  background-color: #4d4d4d;
}

.onboarding-inprogress {
  color: white;
  background-color: #e2ab2c;
}

.onboarding-transitionperiod {
  color: white;
  background-color: #f54242;
}

.onboarding-onboarded {
  color: white;
  background-color: #1d7a00;
}

.onboarding-besteffort {
  color: white;
  background-color: #8bacd8;
}

